html, body {
    margin: 0;
    padding: 0;
    background-color: #f9ffff;
  }
  
* {
    box-sizing: border-box;
}
  
.container-fluid {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: none;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-header{
    background-color: #e08c4f;
}

/* Buttons */

.view-btn{
    background-color: #ce6722;
}

.save-btn{
    background-color: #ce6722;
}

.share-btn{
    background-color: #ce6722;
}